

/* FLYOUT MENUS */

li.mohide, a.mobhide, #navfly li ul li span.mobshow, #navfly li ul li.mobshow, #newtab li.mobshow, #navfly.mobile { display: none }

li.mobshow, #navfly ul li span.shownoa, #navfly li ul li.mobhide { display: block }


/* BAR MENUS */

#droptab li.ipad, .mobile { display: block }
#droptab li.ipad span { font-size: 8px; color: #C03; line-height: 9px; padding: 5px; background-image: none; background-color: #fff }

/* HOME BAR */

@media (orientation:portrait) { 
    #homestatic { display: block; }
    #admstatic { display: block; }
    #admstatic img, #homestatic img, #header img { width: 768px }
		#content.navcol { width: 100%; border-left: none; float: right; padding-left: 0; margin-left: 0 }

		#nav { display: none }
		#box.iporthide { display: none }
		div.iporthide { display: none }
		#box.iportright { float: right }
		div .fb-like-box { display: none }
		.iportshow { display: block }
		.iporthide { display: none }
}
@media (orientation:landscape) { 
    #homeslide { display: block; }
    #admslide { display: block; }
}
