@{
    ViewBag.Title = "PublicSuccess";
}

<h2>Success</h2>
<p>Your reservation request has been entered successfully. You will receive an email confirming your reservation request, and another when the request is acted upon.</p>
<ul>
    <li><a href="http://www.esf.edu/outreach/gateway/">Return to Gateway Center Scheduling Coordination website</a></li>
</ul>