@model systems.Models.FacultyProfile
<style>
#sideright  { margin: 4px 0 4px 10px; float: right; padding: 8px; width: 180px; border: 1px solid #ccc; font: 11px/1.3em verdana, Helvetica, Arial, sans-serif; font-weight: normal; -moz-border-radius: 6px; -webkit-border-radius: 6px; box-shadow: 0 0 7px #aaa }
</style>
		<div id="sideright" class="bggreen" style="width:200px;">
        <strong>Welcome, @Html.DisplayFor(m => m.UserId)</strong>
			<ul>
				<li><a href="/faculty/admin/logout.asp">Logout</a></li>
				<li><a href="/faculty/admin/default.asp">FPIM Menu</a></li>
			</ul>
			<p><em>Sessions will be logged out after 20 minutes of inactivity.</em></p>
		</div>