	<title>SUNY-ESF: <% response.write(fname & " " & mname & " " & lname) %>, Department of Forest and Natural Resources Management</title>
</head>
<body>
<div id="total" class="tot960">
	<div id="topbar960">
		<div> 
			<!--#INCLUDE virtual="/includes/topbar.html" --> 
		</div>
	</div>
	<div id="secondbar960">
		<div> 
			<!--#INCLUDE virtual="/includes/secondbar.html" --> 
		</div>
	</div>
	<div id="header">
	  <div>
			<div><img src="/fnrm/images/banners/960happyfaces.jpg" alt="Department of Forest and Natural Resource Management (FNRM)" /> </div>
	  </div>
	</div>
	<div id="newtab">
		<div>
			<!--#INCLUDE virtual="/fnrm/includes/tabbar.html" --> 
		</div>
	</div>
	<div id="container960">
		<div id="content960">
			<div id="crumb">
				<% response.write(bc) %>
			</div>
