	<title>SUNY-ESF: SUNY College of Environmental Science and Forestry - <% response.write(fname & " " & mname & " " & lname) %></title>
</head>
<body>
<div id="total" class="tot960">
	<div id="topbar960">
		<div> 
			<!--#INCLUDE virtual="/includes/topbar.html" --> 
		</div>
	</div>
	<div id="secondbar960">
		<div> 
			<!--#INCLUDE virtual="/includes/secondbar.html" --> 
		</div>
	</div>
	<div id="header">
	  <div>
	      <div><img src="/rangerschool/images/banner.jpg" alt="Ranger School: Wanakena, NY" width="960" height="118" /> </div>
	  </div>
	</div>
	<div id="newtab">
		<div>
			<!--#INCLUDE virtual="/rangerschool/includes/bar.html" --> 
		</div>
	</div>
	<div id="container960">
		<div id="content960">
			<div id="crumb">
				<% response.write(bc) %>
			</div>
