	<title><% response.write(fname & " " & mname & " " & lname) %>: Department of Sustainable Construction Management and Engineering, SUNY-ESF</title>
	<!-- #include virtual="/includes/common/ch.html" -->
	<script src="/js/tabdrop.js" type="text/javascript"></script>
</head>
<body>
<div id="total" class="tot960">
	<div id="topbar960">
		<div> 
			<!--#include virtual="/includes/topbar.html" --> 
		</div>
	</div>
	<div id="secondbar960">
		<div> 
			<!--#include virtual="/includes/secondbar.html" --> 
		</div>
	</div>
	<div id="header">
		<div>
			<div><img src="/scme/images/banners/960bakerwalk.jpg" /> </div>
		</div>
	</div>
	<div id="newtab">
		<div><!--#include virtual="/scme/includes/tabbar.html" --> 
		</div>
	</div>
	<div id="container960">
		<div id="content960"> 
			<div id="crumb">
				<% response.write(bc) %>
			</div>
